<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <router-view/>
  </div>
</template>
<script>
export default {
  watch:{
 message(value){
  
  console.log(value)
  this.makeToast()
}
  },
  methods:{
    
    makeToast(message){
      const varlant = message.type === 'error'? "danger":"default"
      this.toastCount++
      this.$bvToast.toast('this.toast is number ${this.toastCount}',{title:'',autoHideDelay:5000,appendtoast:false,varlant:varlant})
    }
  }
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
